.up .city{
    color: blue;
}
.uk .city{
    color:red;
}
.hr .city{
    color: purple;
}
.up .city1{
    color: chartreuse;
    background-color: blue;
}
.hr .city2{
    background-color: chocolate;
    color: white;
}
.uk .city3{
    background-color: cornflowerblue;
    color: whitesmoke;
}
h2{
    text-decoration: underline;
}
/* As we can see in this document we
        targetted h2 in div class answer via internal css and inline css. but we
        can see inline css is applied. Internal css has priority over External
        css . In this document body element is targetted via both external and
        internal css, But internal css is applied. */