body {
    background-color: rgba(128, 128, 128, 0.363);
    text-align: center;
  }
  form {
    padding: 5px;
    margin: 5px;
  }
  fieldset {
    display: inline-block;
    background-color: beige;
  }
  #name{
    background-color: pink;
  }
  #last{
    background-color: pink;
  }
  #email{
    background-color: rgba(124, 151, 200, 0.402);
  }
  #password{
    background-color: yellow;
  }
  #repassword{
    background-color: yellow;
  }
  #dob{
    background-color: rgba(137, 43, 226, 0.066);
  }
  #age{
    background-color: rgba(95, 116, 160, 0.523);
  }
  .btn{
    opacity: 60%;
  }